/*Responsive*/

@media (min-width: 768px) {
    .wrapper {
      padding: 40px;
    }
  
    .heading {
      font-size: 40px;
    }
  
    .description {
      font-size: 16px;
      margin-bottom: 34px;
    }
  }
  

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        rgba(18, 80, 56, 0.6), 
        rgba(18, 80, 56, 0.6)
      ), 
      url('/src/assets/principal.png') center/cover no-repeat;
    color: #ffffff;
    padding: 25px;
    gap: 16px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
  .description {
    font-size: 15px;
    margin-bottom: 24px;
    margin-top: 17px;
  }
  
  .content {
    width: 100%;
    max-width: 360px;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
  }
  
  .inputField {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 0 12px;
    font-size: 14px;
    background: #fff;
    color: #000;
  }
  
  .link {
    font-size: 12px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .primaryButton {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #0ACF83;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  
  .googleSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    padding-left: 100px;
  }
  
  
  .footerText {
    font-size: 14px;
    color: white;
    margin-top: 25px;
  }
  
  .signUp {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #0ACF83;
  }